@import "tailwindcss";
@import "@nuxt/ui";

body {
    @apply bg-black text-white/70 relative;
}

body::before {
    width: 100%;
    height: 100%;
    content: '';
    position: fixed;
    z-index: -1;
    background: radial-gradient(65.61% 65.61% at 50% 45%, rgba(188, 153, 14, 0.5) 10%, rgba(122, 104, 23, 0) 100%);
}

.container {
    @apply max-w-5xl mx-auto px-5;
}

.bg-blur {
    @apply bg-black/20 backdrop-blur-md;
}

.card {
    @apply min-w-[350px] bg-white/5 backdrop-blur-md rounded-lg border border-white/10 p-5
}